* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open Sans';
}

/* ------------------------------ BACKGROUND ------------------------------ */
.background {
  background: url("../images/retro-grid.gif") no-repeat center center fixed;
  background-size: cover;
  padding-bottom: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ HERO ------------------------------ */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 100vh;
}

.hero h1 {
  font-family: 'Viga';
  font-size: 69px;
  color: yellow;
}

.hero h2, .hero h3 {
  font-family: 'Viga';
  color: gold;
}

.name-plate {
  -webkit-transform: translate(0, 5vh);
          transform: translate(0, 5vh);
  letter-spacing: 0.75;
  line-height: 1.6;
}

.btn-portfolio {
  -webkit-transform: translate(0, 6vh);
          transform: translate(0, 6vh);
  width: 200px;
  height: 40px;
  background: firebrick;
  border: firebrick;
}

.btn-portfolio:hover {
  background: red;
}

.btn-portfolio:active {
  background: red;
}

.contact {
  -webkit-transform: translate(0, 125px);
          transform: translate(0, 125px);
  color: white;
}

.contact a {
  color: white;
  font-size: 18px;
}

/* ------------------------------ PORTFOLIO ------------------------------ */
.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90vw;
  text-align: center;
  padding-top: 5vw;
}

.portfolio-container h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: yellow;
  font-family: 'Viga';
  font-size: 48px;
  margin: 0;
}

/* ---------------- CARD TEMPLATE ---------------- */
.card {
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-flex-negative: 0.5;
      flex-shrink: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 125px 50px 25px;
}

.card-background {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
          box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
}

.card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 275px;
  height: 275px;
  -webkit-transform: translate(-32px, -85px);
          transform: translate(-32px, -85px);
  -webkit-box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
          box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
}

.card-image img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
          box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
}

.card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 40px;
  background-color: #05044C;
  color: white;
  font-size: 24px;
  -webkit-transform: translate(75px, -160px);
          transform: translate(75px, -160px);
  border: 1px solid black;
  overflow: scroll;
  -webkit-box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
          box-shadow: 3px 11px 20px -4px rgba(255, 255, 255, 0.7);
  font-family: 'Viga';
}

.card-description {
  font-size: 12px;
  -webkit-transform: translate(20px, -118px);
          transform: translate(20px, -118px);
  height: 58px;
  width: 260px;
  overflow: auto;
}

.card-description h4 {
  font-size: 18px;
}

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 125px;
  height: 25px;
  font-size: 12px;
  margin: 0 5px;
  -webkit-transform: translate(0px, -110px);
          transform: translate(0px, -110px);
}

.btn-live {
  background: #9B74F1;
  border: #9B74F1;
}

.btn-live:hover, .btn-live:active {
  background: #E66BF9;
}

.btn-source {
  border: #383ADF;
  background: #383ADF;
}

.btn-source:hover, .btn-source:active {
  background: #2F95EB;
}

/* ------------------------------ ICONS ------------------------------ */
.wrapper {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 30vw;
  height: 10vw;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.wrapper__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.social-link--github {
  color: black;
}

.social-link--linkedin {
  color: #2d76b0;
}

.social-link--instagram {
  color: #9a2970;
}

.social-link .social-svg {
  width: 4rem;
  height: 4rem;
  margin: 20px;
}

.social-link .social-svg .social-group__icon {
  fill: #FFFBFA;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-link .social-svg .social-group__inner-circle {
  fill: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-link .social-svg .social-group__outline {
  stroke: #FFFBFA;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.social-link .social-svg:hover .social-group__icon, .social-link .social-svg:active .social-group__icon, .social-link .social-svg:focus .social-group__icon {
  fill: #FFFBFA;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.social-link .social-svg:hover .social-group__inner-circle, .social-link .social-svg:active .social-group__inner-circle, .social-link .social-svg:focus .social-group__inner-circle {
  fill: currentColor;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.social-link .social-svg:hover .social-group__inner-circle--linkedin, .social-link .social-svg:active .social-group__inner-circle--linkedin, .social-link .social-svg:focus .social-group__inner-circle--linkedin {
  fill: white !important;
}

.social-link .social-svg:hover .social-group__inner-circle--instagram, .social-link .social-svg:active .social-group__inner-circle--instagram, .social-link .social-svg:focus .social-group__inner-circle--instagram {
  fill: url(#simpleInsta) !important;
}

.social-link .social-svg:hover .social-group__outline, .social-link .social-svg:active .social-group__outline, .social-link .social-svg:focus .social-group__outline {
  stroke: #FFFBFA;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .45s;
  transition: all .45s;
}
/*# sourceMappingURL=style.css.map */