@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Open Sans';
}

$font-color: yellow;

/* ------------------------------ BACKGROUND ------------------------------ */
.background {
  background: url('../images/retro-grid.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @include flexCenter(column);
  padding: 0 5vw 5vw;
}

/* ------------------------------ HERO ------------------------------ */
.hero {
  @include flexCenter(column);
  text-align: center;
  height: 100vh;
    h1 {
      font-family: 'Viga';
      font-size: 69px;
      // font-weight: 900;
      color: yellow;
    }
    h2, h3 {
      font-family: 'Viga';
      color: gold;
    }
}

@media (max-width: 700px) {
  .hero {
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 20px;
    }
  }
}

@media (min-width: 700px) {
  .hero {
    h1 {
      font-size: 69px;
    }
    h2 {

    }
    h3 {

    }
  }
}

.name-plate {
  transform: translate(0, 5vh);
  letter-spacing: 0.75;
  line-height: 1.6;
}

.btn-portfolio {
  transform: translate(0, 6vh);
  width: 200px;
  height: 40px;
  background: firebrick;
  border: firebrick;
    &:hover {
      background: red;
    }
    &:active {
      background: red;
    }
}

.contact {
  transform: translate(0, 125px);
  color: white;
  a {
    color: white;
    font-size: 18px;
  }
}

/* ------------------------------ PORTFOLIO ------------------------------ */
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90vw;
  text-align: center;
  padding-top: 5vw;
  h2 {
    flex-basis: 100%;
    color: yellow;
    font-family: 'Viga';
    font-size: 48px;
    margin: 0;
  }
}

/* ---------------- CARD TEMPLATE ---------------- */
.card {
  box-shadow: none;
  flex-shrink: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 125px 50px 25px;
}

.card-background {
  width: 300px;
  height: 300px;
  box-shadow: 3px 11px 20px -4px rgba(255,255,255,0.7);
  background: white;
}

.card-image{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  width: 275px;
  height: 275px;
  transform: translate(-32px, -85px);
  box-shadow: 3px 11px 20px -4px rgba(255,255,255,0.7);
  background: #F2EA74
  ;
  background: rgba(255, 255, 100, 0.8);
}

.card-image img {
  flex-shrink: 0;
  max-width: 100%;
  // min-height: 100%;
  object-fit: cover;
}

.card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 40px;
  background-color: #05044C;
  color: white;
  font-size: 24px;
  transform: translate(75px, -160px);
  border: 1px solid black;
  overflow: scroll;
  box-shadow: 3px 11px 20px -4px rgba(255,255,255,0.7);
  font-family: 'Viga';
}

.card-description {
  font-size: 12px;
  transform: translate(20px, -118px);
  height: 58px;
  width: 260px;
  // overflow: auto;
  h4 {
    font-size: 18px;
    font-weight: 900;
  }
  p {
    // overflow: scroll;
    transform: translateY(-5px);
    margin: 0;
  }
}

.card-buttons {
  @include flexCenter(row);
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 25px;
  font-size: 12px;
  margin: 0 5px;
  transform: translate(0px, -110px)
}

.btn-live {
  background: #9B74F1;
  border: #9B74F1;
  &:hover, &:active, &:focus {
    background: #E66BF9;
  }
}

.btn-source {
  border: #383ADF;
  background: #383ADF;
  &:hover, &:active, &:focus{
    background: #2F95EB;
  }
}

/* ------------------------------ ICONS ------------------------------ */

$color-white: #FFFBFA;
$color-black: #191308;

.wrapper {
  transform: translate(0, 100px);
  display: flex;
  justify-content: center;
  align-items: space-around;
  width: 30vw;
  height: 10vw;
  transition: all .4s ease-out;
  
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
}

.social-link {
  &--github {
    color: black;
  }

  &--linkedin {
    color: #2d76b0;
  }

  &--instagram {
    color: #9a2970;
  }

  & .social-svg {
    width: 4rem;
    height: 4rem;
    margin: 20px;

    & .social-group {
      &__icon {
        fill: $color-white;
        transition: all .2s;
      }

      &__inner-circle {
        fill: transparent;
        transition: all .2s;
      }

      &__outline {
        stroke: $color-white;
        transform-origin: 50% 50%;
        transition: all .2s;
      }
  }

  &:hover, &:active, &:focus {
    & .social-group {
      &__icon {
        fill: $color-white;
        transition: all .45s;
      }

      &__inner-circle {
        fill: currentColor;
        transition: all .45s;

        &--linkedin {
          fill: white !important;
        }

        &--instagram {
          fill: url(#simpleInsta) !important;
        }
      }

      &__outline {
        stroke: $color-white;
        transform: scale(1.1);
        transition: all .45s;
      }
    } 
  }
  }
}